
*{
    box-sizing: border-box;
}







header{
text-align: center;
background-color: #666;
padding: 30px;
color: white;
font-size: 35px;
}

nav{
    float: left;
    width: 30%;
    height: 300px;
    background: rgb(171, 170, 170);
    padding: 20px;
}

nav ul{
    list-style-type:none;
    padding: 0;
}


article{
float: left;
padding: 20px;
width: 70%;
background-color: lightgray;
height: 300px;;
}

section::after{
content:"";
display: table;
clear: both;
}

footer{
background-color: #777;
padding: 10px;
color: white;
text-align: center;
}




