


.container{
    background-color: rgb(146, 118, 231);
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  

}


.card{
    font-family: sans-serif;
    background-color: rgb(224, 145, 178);
    width: 50px;
    margin: 3px;
    text-align: center;
    border-radius: 10px;
    height: auto;
    
}











