<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="clearfix.css">
</head>
<body>
    

    <h2>Grid of boxeS</h2>
    <p>float boxes side by side:</p>
    <div class="clearfix">
    <div class="box" id="box1">
    <p>some text inside the box.</p>
    </div>
<div class="box" id="box2">
    <p>some text inside the box</p>
    </div>
    <div class="box" id="box3">
    <p>some text inside the box</p>
    </div>
</div>

<p><strong> Note:</strong>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis ullam ex et quo eius illo dolores facilis inventore. Rerum repellendus inventore sunt et beatae, corporis unde vel? Doloremque, odit nemo!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non distinctio dolorum sapiente perspiciatis eos suscipit, vel a nulla cum beatae aut quis qui impedit nobis inventore obcaecati laudantium ex voluptas!
</p>



</body>
</html>