<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="float img.css">
</head>
<body>
    

<h2>Float Right</h2>

<p>In this example, the image will float to the right in the paragraph, and the text in the paragraph will wrap around the image. </p>

<p> <img src="MainAfter.jpg" alt="lizard">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias optio dignissimos nisi aliquid eligendi non error iusto est exercitationem delectus sunt odit quas, officiis enim rem assumenda deleniti sapiente magnam.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis rem alias doloremque quae quas ullam! Quis suscipit eos at, error ullam provident nesciunt inventore enim necessitatibus quia optio expedita dolorum!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quos ea, cum beatae, consequatur voluptatem voluptatibus harum sed laborum quaerat temporibus. Placeat aspernatur sapiente atque veritatis vel optio, laboriosam ipsa!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis harum et illo iste officia, cum laborum, quasi expedita autem vel, repellendus dicta veritatis deserunt molestiae labore delectus saepe voluptate maxime.</p>



</body>
</html>