body{
    margin: 0;
    background-color: black;
    
}
*{
    box-sizing: border-box;
}

.section{
    float: left;
    width: 100%;
    background-color: #dddd;
    text-align: center;
    padding: 20px;
}
.section .container{
    float: left;
   background-color: red;
    width: 100%;
    padding: 10px;
}
.section .container .card{
    width: 25%;
    float: left;
    padding: 0px 10px;
    background-color: yellow;
    padding: 20px;
    
}

.section .container .card .box{
    background-color: gray;
    font-size: 30px;
    padding: 60px 15px;
    color: #fff;
}